# Virtual environments
venv/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE/Editor settings
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Compiled files
*.so
*.dylib
*.dll

# Build and distribution files
dist/
build/
*.egg
*.tar.gz
*.whl